language: go

go:
  - 1.10.x
  - 1.11.x

env:

before_install:
  - go get -u github.com/haya14busa/goverage
  - go get -u github.com/pkg/profile
  - go get -u github.com/tesujiro/OpenDataStructuresGo

script:
  - go vet ./...
  - go test -v -coverprofile=coverage.txt -covermode=count .

after_success:
  - bash <(curl -s https://codecov.io/bash)

